$themeBorderGreyColor: #a1a1a1;
$themeBlueColor: #4183d7;
$blueColor: #3575bd;
$inputHitColor: #cfddf1;
$boxBorderColor: #e6e6e6;
$boxShadowDepth2: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);