// 主要颜色
$primaryColor: #4183d7;
// 次主要颜色
$econdaryPrimaryColor: #8bbef3;
// 成功颜色
$successColor: #67C23A;
// 警告颜色
$warningColor: #E6A23C;
// 危险颜色
$dangerColor: #F56C6C;
// 信息颜色
$infoColor: #909399;

// 文本颜色
// 主要文本颜色
$primaryTextColor: #303133;
// 常规文本颜色
$normalTextColor: #606266;
// 次要文本颜色
$secondaryTextColor: #909399;
// 占位文本颜色
$placeholderTextColor: #C0C4CC;

// 边框颜色
// 1级
$borderLevel1Color: #DCDFE6;
// 二级
$borderLevel2Color: #E4E7ED;
// 三级
$borderLevel3Color: #EBEEF5;
// 四级
$borderLevel4Color: #F2F6FC;

// 主要背景渐变色
$primaryGradientColor: linear-gradient(to right,#83aee5, $primaryColor);

// 阴影
$boxShadowDepth2: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);